@import url("@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  & header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
  }

  & main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & .hero-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5% 0;

      & h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
      }

      & p {
        width: 40%;
        padding: 5% 0;

        text-align: center;
      }
    }

    & .screen-mockups {
      max-width: 100%;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}
